# Django
# ------------------------------------------------------------------------------

django-model-utils==4.1.1  # https://github.com/jazzband/django-model-utils
django-allauth==0.44.0  # https://github.com/pennersr/django-allauth
django-crispy-forms==1.11.1  # https://github.com/django-crispy-forms/django-crispy-forms
django-redis==4.12.1  # https://github.com/jazzband/django-redis
django-extensions==3.1.1  # https://github.com/django-extensions/django-extensions

django-rest-framework
django-cors-headers